
body{
    font-family: 'Space Mono';
  }

  .challenge{
    width: 1440px;
    height: 1080px;
  }

  .container img{
    width: 539.224px;
    height: 414.249px;
  }

  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content-title{
    width: 586px;
    color: var(--gray-1, #333);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2.24px;
  }